

<p>{{valoareaInPlus}} metri</p>

   
    <div  *ngFor="let loop3 of counter(lungime) ;let i= index" >
        <input  type="number" [(ngModel)]="numbers[i]"
        (ngModelChange)="transform(i)">
        <select [(ngModel)] ="units[i]"
        (ngModelChange)="transform(i)">
            <option value="mm">Milimetri</option>
            <option value="cm">Centimetri</option>
            <option value="dm">Decimetri</option>
            <option value="m">Metri</option>
            <option value="dec">Decametri</option>
            <option value="hm">Hectometri</option>
            <option value="km">Kilometri</option>
        </select>
        
    </div>


    <button (click) ="saadaug() ">Adaugă</button>
    <button (click) ="sasterg() ">Șterge</button>