<div class="container mt-5">
<select [(ngModel)]= "chose"
    (change)="changeSelect()">
    
    <option value="LUNGIME">Lungime</option>
    <option value="TIMP">Timp</option>
    <option value="VOLUM">Volum</option>
    <option value="MASA">Masa</option>
</select>




  
    <!-- <p>{{this.choseUnit.valoareInPlus}} metri</p> -->
    <div *ngFor="let loop3 of counter(this.choseUnit.lungime) ;let i= index" >
        <input  type="number" [(ngModel)]="this.choseUnit.numbers[i]"
        (ngModelChange)="transform(i)">
        <select [(ngModel)] ="this.choseUnit.units[i]"
        (ngModelChange)="transform(i)">
            <option *ngFor="let op of this.choseUnit.setUnitati" [value]="op">
                {{op}}
            </option>
        </select> 
        <button (click) ="saadaug(i) ">Adaugă</button>
      <button (click) ="sasterg(i) ">Șterge</button>
    
    
   

 </div>